@model List<NetworkDatabase.Image>

@{
    ViewBag.Title = "Home Page";
}

@Html.Partial(Url.Content("~/Views/Templates/mainPageTemplate.cshtml"))
@Html.Partial(Url.Content("~/Views/Templates/welcomeTemplate.cshtml"))
@Html.Partial(Url.Content("~/Views/Templates/authFormTemplate.cshtml"))
@Html.Partial(Url.Content("~/Views/Templates/tracksInfoTemplate.cshtml"))
@Html.Partial(Url.Content("~/Views/Templates/playerTemplate.cshtml"))
@Html.Partial(Url.Content("~/Views/Templates/tracksTableTemplate.cshtml"))
@Html.Partial(Url.Content("~/Views/Templates/registerFormTemplate.cshtml"))
@Html.Partial(Url.Content("~/Views/Templates/profilePageTemplate.cshtml"))

<div class="row">
    
    <div data-bind="page: {id: 'deep_navigation', role: 'start'}">
        <div data-bind="page: {id: 'start'}">
            <div data-bind="template: {name: 'mainPage'}"></div>
        </div>
        
        <div data-bind="page: {id: 'dashBerlin'}">
            <h2>Dash Berlin</h2>
            <table class="table" data-bind="ifnot: loginUser().isVisibleName">
                <tbody data-bind="foreach: tracks">
                    <tr data-bind="template: {name: 'tracksInfo'}"></tr>
                </tbody>
            </table>
            <table class="table" data-bind="if: loginUser().isVisibleName">
                <tbody data-bind="foreach: tracks">
                    <tr data-bind="template: {name: 'tracksInfo'}"></tr>
                    <tr data-bind="template: {name: 'tracksTable'}"></tr> 
                </tbody>
            </table>
         </div>

            <div data-bind="page: {id: 'secondstoMars'}">

            </div>

            <div data-bind="page: {id: 'pendulum'}">

            </div>

        <div data-bind="page: {id: 'authForm'}">
            <div data-bind="template: {name: 'welcome'}"></div>
            <div data-bind="template: {name: 'authForm'}"></div>
        </div>
        
        <div data-bind="page: {id: 'registerForm'}">
            <div data-bind="template: {name: 'welcome'}"></div>            
            <div data-bind="template: {name: 'registerForm'}"></div>
        </div>

        <div data-bind="page: {id: 'profile'}">
            <div data-bind="template: {name: 'profilePage'}"></div>
        </div>
        
        <div data-bind="page: {id: 'userTracks'}">
            <h3 data-bind="if: myTracks().length==0">You have no one track!</h3>
            <table class="table" data-bind="if: loginUser().isVisibleName">
                <tbody data-bind="foreach: myTracks">
                    <tr data-bind="template: {name: 'tracksInfo'}"></tr>
                    <tr>
                        <td data-bind="template: {name: 'player'}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
  </div>